 .App {
  text-align: center;
}
 .result {
   height: 60px;
   background-color: grey;
   width: 100%;
 }
 
 .calc-body{
   max-width: 400px;
   margin: auto;
 }
 .result p {
   font-size: 40px;
 }

 .buttons {
   display: block;
   background-color: ivory;
 }

 .buttons button{
   width: 25%;
   height: 60px;
   font-size: 30px;
 }