@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Baloo Bhaina 2', cursive;
  padding: 1rem;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  
  header {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    
    h1 {
      letter-spacing: 5px;
      color: #cc3300;
    }
  }
  
  main {
    display: flex;
    flex-direction: column;
    width: 75vh;
    align-items: center;
    flex-grow: 1;

    .time-wrapper {
      padding: 1rem;
      background-color: white;
      width: 100%;
      border-radius: 5px;
      border: 2px solid #cc3300;

      h2 {
        text-align: right;
        font-size: 30px;
      }
      h3 {
        text-align: center;
        font-size: 130px;
        color: #cc3300;
      }
    }

    .control-wrapper{
      display: flex;
      justify-content: flex-end;

      button{
        background-color: transparent;
        padding-right: 5px;
        display: block;
        font-size: 3rem;
        border: none;
      }
    }
    .time-control{
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 1rem;
      .control{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        button{
          font-size: 2rem;
          border: none;
          background-color: transparent;
          color: #cc3300;
        }
        h3{
          font-size: 2rem;
        }
      }
    }
  }
}
